@model BloodBank.Models.Donor

@{
    ViewBag.Title = "Select";
}

<h2>Selected Donor Is</h2>

<div>
    <p>
        Name of the Donor: @Model.Name
    </p>

    <p>
        Blood Group of the Donor: @Model.BloodGroup
    </p>

    <p>
        Medical Report of the Donor: @Model.MedicalReport
    </p>

    <p>
        Address of the Donor: @Model.DonorAddress
    </p>

    <p>
        Contact Number of the Donor: @Model.ContactNo
    </p>
</div>


